body {
   background:#d2d2c1 url('img/fundo.png');
   font: 16px Arial, Helvetica, sans-serif;
   padding: 10px 500px;
   
}

#principal {
   
    width: 900px;
  
    
}

#menu {
    background: #c5c5b2;
    padding: 18px ;
}

#conteudo {
    background: #e8e8d9;
    padding: 10px 30px;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;    
    padding: 5px;
}

.centralizar {
    text-align:  center;
}